{% extends "base.html" %}

{% block title %}Petanque Club{% endblock %}

{% block content %} 

<!-- -------------- Home Start -------------- -->
<div class="homeSection" id="home">
    <div class="welcomeTitle">
        <h1>Welcome To Petanque Club</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vitae nisi quis magna tempus bibendum. Cras sed tortor venenatis nulla sagittis facilisis in id enim. Mauris ut porta orci. Nam id consectetur mauris, sed tincidunt mi.</p>
    </div>
    <div class="about-container">
        <div class="textContents">
            <h1>Reviews</h1>
            <p>testing</p>
        </div>
    </div>
</div>

<!-- -------------- Home End -------------- -->

{% endblock %}
