
.menu{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid red; */
    padding: 10px;
    height: 20rem;
}

.menu .discription{
    width: 42rem;
    height: 10rem;
    padding: 10px 40px;
    /* border: 1px solid rgb(102, 0, 255); */
}

.discription p{
    text-align: center;
    font-size: 16px;
    letter-spacing: 1.1px;
    word-spacing: 1.3px;
}

.play{
    padding: 20px 40px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    background-color: rgb(127, 225, 255);
    color: rgb(109, 76, 76);
    cursor: pointer;
}

.play:hover{
    background-color: rgb(61, 198, 239);
    transform: scale(1.1, 1.1);
}
