{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block content %}

<div class="registerPage">
    <div class="registerForm">
        <h2>Sign Up</h2>
        <form id="form" method="POST">
            <div>
                <label for="username"><i class="fa-solid fa-user"></i></label>
                <input type="text" name="username" id="username-input" placeholder="User name" required>
            </div>
            <div>
                <label for="email"><i class="fa-solid fa-envelope"></i></label>
                <input type="email" name="email" id="email-input" placeholder="Email" required>
            </div>
            <div>
                <label for="password"><i class="fa-solid fa-lock"></i></label>
                <input type="password" name="password" id="password-input" placeholder="Password" required>
            </div>
            <div>
                <label for="confirmpassword"><i class="fa-solid fa-lock"></i></label>
                <input type="password" name="confirmpassword" id="confirmpassword" placeholder="Confirm password" required>
            </div>
            <button type="submit" class="subBtn">Sign Up</button>
        </form>
        <p>Already have an Account? <a href="/login">Login</a></p>
    </div>
    <div class="readme">
        <a href="/home" class="logo">Sport<span class="text-danger">Court</span></a>
        <div class="readmessage">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus quia, distinctio sit nisi neque fugit molestias amet quaerat minus facere mollitia voluptas, ullam quos non iste, consequatur saepe unde vel!</p>
        </div>
    </div>
</div>

{% endblock %}