
.menu{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid red; */
    padding: 10px;
    height: 20rem;
}

.menu .discription{
    width: 42rem;
    height: 10rem;
    padding: 10px 40px;
    /* border: 1px solid rgb(102, 0, 255); */
}

.discription p{
    text-align: center;
    font-size: 16px;
    letter-spacing: 1.1px;
    word-spacing: 1.3px;
}


