@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');



body{
    margin: 0;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: black;
    font-family: "Permanent Marker", cursive;
}

span{
    background: url('https://cdn4.iconfinder.com/data/icons/general-office/91/General_Office_54-512.png');
    width: 100px;
    height: 100px;
    position: absolute;
    background-size: cover;
    left: 50%;
    top: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    animation: animate 6s linear;
}

h1{
    color: white;
    font-size: 58px;
}


@keyframes animate{
    0%{
        transform: translate(-50%, -50%);
        opacity: 1;
        filter: hue-rotate(0);
    }

    100%{
        transform: translate(-50%, -5000%);
        opacity: 0;
        filter: hue-rotate(720deg);
    }
}


